.linkText {
  /* color: black; */
}

.cardContainer {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.imageContainer {
  width: 100%;
  position: relative;
  aspect-ratio: 4/4;
}
